<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
   <div class="container">
         
     <div class="box">
                   <a href="https://images.unsplash.com/photo-1701127749663-78686c12f8e1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://images.unsplash.com/photo-1701127749663-78686c12f8e1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="https://images.unsplash.com/photo-1682695796954-bad0d0f59ff1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHx8" >
                   <img src="https://images.unsplash.com/photo-1682695796954-bad0d0f59ff1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHx8" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="https://images.unsplash.com/photo-1701220293337-c1585aab8372?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHx8" >
                   <img src="https://images.unsplash.com/photo-1701220293337-c1585aab8372?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHx8" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="https://images.unsplash.com/photo-1682685797795-5640f369a70a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://images.unsplash.com/photo-1682685797795-5640f369a70a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <!-- <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
     <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div>  -->
     
   
   </div>
       
       
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script>const navSlide = () => {
            const lines = document.querySelector('.lines');
            const nav = document.querySelector('.navLink');
            
            lines.addEventListener('click',() => {
                nav.classList.toggle('nav-active');
                
            //Line Animation
            lines.classList.toggle('toggle');
            });
           
        }
        
        navSlide();</script>
              
</body>
</html>