<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <header>

        <div class="container">
    
            <div class="profile">
    
                <div class="profile-image">
    
                    <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
    
                </div>
    
                <div class="profile-user-settings">
    
                    <h1 class="profile-user-name"><%= user.username %></h1>
    
                    <button class="btn profile-edit-btn">Edit Profile</button>
                    <a href="/logout" class="btn logout profile-edit-btn">Log Out</a>
    
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
    
                </div>
                <div class="profile-stats">
                    <ul>
                        <li><span class="profile-stat-count">164</span> posts</li>
                        <li><span class="profile-stat-count">188</span> followers</li>
                        <li><span class="profile-stat-count">206</span> following</li>
                    </ul>
                </div>
                <div class="profile-bio">
                    <p><span class="profile-real-name"><%= user.fullname %></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eos maxime possimus.</p>
                   
                        <form action="/upload" method="post" enctype="multipart/form-data">
                       
                            
                            <input type="text" name="filecaption" placeholder="Title">
                            <input type="file" name="file" id="file">
                        <input type="submit" value="Upload">
                       
                        </div>
                    </form>

<!-- IGNORE -->
 
                </div>
            </div>    
        </div>
    </header>
    
    <main>
    
        <div class="container">
            <div class="gallery">

               
                    <div class="gallery-item" tabindex="0">
                        <% user.posts.forEach(function(post){ %>
                        <img src="./images/upload/<%= post.image%>" class="gallery-image" alt="">
        
                        <div class="gallery-item-info">
        
                            <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> <%= post.imageText%></li>
                            </ul>
        
                        </div>
        
                    </div>

               <%}) %>
    
                
             
    
             
    
         
             
    
            </div>
            <!-- End of gallery -->
    
            
    
        </div>
        <!-- End of container -->
    
    </main>
</body>
</html>